/Air.class
/Bloc.class
/BoisBioMecanique.class
/Electronique.class
/Foreuse.class
/Granite.class
/Inventeriable.class
/Metal.class
/Outil.class
/Pierre.class
/Plastique.class
/Ressources.class
/Terre.class
/BlocBiomasse.class
/BlocBois.class
/BlocDechet.class
/BlocElectromagnetique.class
/BlocMetalique.class
/BlocPlastique.class
/TableCraft.class
/Avirons.class
/Tronconneuse.class
/RetroFusee.class
/RayonLaser.class
/Torche.class
